<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand waves-light " mdbWavesEffect href="#"><strong>DANBERRY</strong></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/home">HOME</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/about">ABOUT</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"  routerLink="/learn">LEARN</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/shop">SHOP</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/connect">CONNECT</a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<header class="intro-header">
  <div class="view jarallax bg" data-jarallax='{"speed": 0.2}'>
    <section class="pb-2 pt-5">
      <div class="text-center">
        <h2 class="pt-5 pl-10 wow fadeInDown white-text">About Me</h2>
        <h3 class="pl-10 wow fadeInDown white-text">Jordan Danberry</h3>
      </div>
      <!-- Row 1 -->
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5">
          <div class="pb-3">
            <img class="wow fadeInLeft" src="../../assets/imgs/about1.jpg"/>
          </div>
        </div>
        <div class="col-md-7">
          <div class="pb-5">
            <h5 class="pl-10 wow fadeInDown text-center white-text">The Influencer</h5>
          </div>
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-7">
              <p class="text-center wow fadeInDown white-text">
                “If I could choose who I could inspire, I’d choose the next generations of entrepreneurs, leaders
                and innovators. I know I can’t ‘just pick’ the people I inspire, but I want my influence to, you
                know, reach those crowds.”
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Row 2 -->
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-7">
          <div class="pb-5">
            <h5 class="pl-10 wow fadeInLeft text-center white-text">The President</h5>
          </div>
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-7">
              <p class="text-center wow fadeInLeft white-text">
                Jordan’s leadership on and off the court led her to becoming the President of Conducting
                Creativity, a 501c3 non-profit centered around literacy, innovation and entrepreneurship.
                As President, she has directed and oversaw programs such as Skillz and Drillz Basketball and
                Entreprenuership Camp, literacy tours, and feeding programs.
                <br>
                The Skillz School is a mentee/mentor based program where new and experienced learners
                have the opportunity to share their knowledge base and expertise in aims to build the next wave
                of innovators. As President of Conducting Creativity, Jordan’s role is that of a point
                guard--making sure operations flow and the team is on the same page.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <img class="wow fadeInRight" src="../../../../GemSports/src/assets/imgs/about2.JPG"/>
        </div>
      </div>
      <!-- Row 3 -->
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5">
          <div class="pb-3">
            <img class="wow fadeInLeft" src="../../assets/imgs/aboutBG.jpeg"/>
          </div>
        </div>
        <div class="col-md-7">
          <div class="pb-5">
            <h5 class="pl-10 wow fadeInDown text-center white-text">The Athlete</h5>
          </div>
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-7">
              <p class="text-center wow fadeInRight white-text">
                Jordan is a nationally renowned athlete. The 2015 graduate and native of Conway High School
                in Central Arkansas then went on to play for the University of Arkansas, Fayetteville, before
                transferring to Mississippi State University. Below are Jordan’s ancelades since high school.
                <br>
                <br>
                <li>Gatorade Player of the year 2x 2014/2015</li>
                <li>2017 and 2018 Division 1 National Championship Finalist
                <li>ALL SEC Second Team</li>
                <li>ALL SEC Defensive Team</li>
                <li>Naismith Player of the Year Midseason team</li>
                <li>Naismith Defensive POY Semifinalist</li>
                <li>Elite 90 Award</li>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Row 4 -->
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-7">
          <div class="pb-5">
            <h5 class="pl-10 wow fadeInLeft text-center white-text">Quotes</h5>
          </div>
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-7">
              <p class="text-center wow fadeInLeft white-text">
                - Vic Schaefer
                Head Coach at Mississippi State
                <br>
                “(She’s) unselfish and selfless. Jordan’s about the bigger picture, and what she brought to the
                table with our young team has certainly been impactful. I don’t think we’d be where we are today
                without her.”
                <br>
                <br>
                - Xaria Wiggins
                Former teammate at Mississippi State
                <br>
                “Jordan is strong, determined, hardworking, and a leader.”
                Andra Espinoza-Hunter
                Former teammate Mississippi State
                “She’s one of the strongest women I’ve ever worked and played with.”
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <img class="wow fadeInRight" src="../../assets/imgs/about3.JPG"/>
        </div>
      </div>


    </section>
  </div>
</header>




