img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.pt-1{
  padding: 10px;
}
.bg {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
}
// tablets and smaller
@media (max-width: 511px) {

  .pb-5{
    padding-bottom: 1rem !important;
  }
  .pb-3{
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .row {
    padding-top: 30px;
    padding-left: 125px;
    padding-right: 125px;
    margin-right: -60px;
    margin-left: -60px;
  }
}
